@use '../../../styles' as *;

.signup-card {
  max-width: 80%;
  height: auto;
  margin: 5% auto 0;
}

mat-card-header {
  display: flex;
  justify-content: center;
  border-radius: 12px 12px 0 0;
  background-color: $card-bg-forms;
  color: $card-bg-forms-contrast;
  text-shadow: 0.5px 0.5px 0.5px #000;
  padding-bottom: 20px;
}

.signup-form {
  margin-top: 5%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.input-full {
  width: 95%;
}

.account {
  background-color: $card-bg-forms;
  color: $card-bg-forms-contrast;
  margin: 0 auto;
}

.has-account {
  margin-left: 5%;
  color: var(--color-primary);
  font-size: large;
  text-decoration: underline;
}

//       color="primary"
//       class="input-full"
